extends layout

block content
  - var projects = locals.data;
  - var socialLinks = locals.social

  mixin social-link(link)
    li.bio__link
      a(href=link.url, target='_blank')= link.title

  mixin project-attribute(key, value)
    if value
      h4.project-card__subhead= key
      p.project-card__attribute= value

  mixin project-card(project)
    article.projects__card.project-card.js-project
      .project-card__container
        .project-card__info.js-project-info
          h2.project-card__title.js-project-title
            span(data-content= project.title)= project.title
          .project-card__copy
            p.project-copy__description= project.description
            for val, key in project.attributes
              +project-attribute(key, val)
            if project.url
              a.project-card__link(href=project.url, target='_blank') visit site
                include /img/icon-arrow.svg
        if project.images.length
          .project-card__image-container
            for image in project.images
              .project-card__image
                img(src=image)

  header
    button.context-toggle.js-context-toggle
      span.context-toggle__icon
      span.context-toggle__text i

  section.bio
    .bio__wrapper
      h1.bio__title Hi. I'm Charley.
      p I'm a developer based in Saint Paul, Minnesota. I like making cool things for the internet. I currently work with the smart people at #[a(href='http://olson.com', target='_blank') Olson].
      p I also like to make music as #[a(href='http://soundcloud.com/champagnemusique', target='_blank') Champagne] and #[a(href='http://soundcloud.com/tylerhampton', target='_blank') Tyler Hampton].
      p.hide-xs.hide-sm This site features a small selection of recent projects, but there's also a huge selection not featured here. For example, if you want a custom Spotify playlist based on a picture of your face, I got you. 
      p If anything catches your eye, don't hesitate to get in touch.

      .bio__contact
        h3.email.js-email(data-user='hello', data-domain='charleypugmire.me')
        ul.bio__links
          for link in socialLinks
            +social-link(link)

  section.projects
    for project in projects
      +project-card(project)
